*, *::before, *::after {
  box-sizing: border-box;
}

*{
  font-family: Consolas,monaco,monospace; 
}



.App{
  background-color: black;
  
  font-size: calc(10px + 2vmin);
  
  margin: 0;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  
}

.Wrapper{
  margin: 0;
  display: grid;
  
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 100% ;
  grid-template-areas: "h h"
                       "n c";

}

.WrapperContent {
  margin: 0;
  background-color: rgb(36, 36, 36);
}



