.styledInput {
    width: 100%;
    

    margin: 10px 0px 5px 0px;
    padding: 15px;

    font-size: 20px;
    letter-spacing: 1px;
    
    color: white;
    border: none;
    border-radius: 20px;

    background:  #825ca1;
}

#login,
#password,
#TitleNewPost {
    height: 50px;
}

#TextNewPost {
    /* height: 400px; */
}

.styledInput::placeholder {
    color: #333333;
}

.styledInput:focus {
    outline: none;
    background:  #966ab9;
}
